

fastapi==0.110.0
uvicorn==0.27.1
streamlit==1.30.0

pydantic==2.5.3

numpy==1.26.4
pandas==2.1.4
matplotlib==3.8.2

requests==2.31.0
aiohttp==3.9.3
nba-api==1.4.1

python-dateutil==2.8.2
python-dotenv==1.0.1

google-generativeai==0.7.2
protobuf<5
